extends templates/base

block content
  include templates/header
  section.page-head.page-head_about-us
  section.page.about-us
    .container
      .row
        .col-lg-9
          h3.green Кто мы?
          .about-us__intro
            p Компания «Технодвор» является поставщиком качественных решений для бизнеса в области сельскохозяйственной, автомобильной и специальной техники в сфере тяжелой и легкой промышленности. Наравне с продажей техники и оборудования мы оказываем консультационные и посреднические услуги. Опыт наших сотрудников в профессиональной области составляет более 15 лет. Миссия нашей компании – сохранить Ваше время и принести пользу Вашему бизнесу. Наша важнейшая задача – продвижение качественных белорусских брендов на рынках зарубежных стран. Мы предлагаем только те товары и услуги, которые приносят выгоду и экономят ресурсы.
            p В эпоху стремительного развития, технологический прогресс каждый год предлагает новейшие техническое оборудование, для ускорения решения все более широких задач. На сегодняшний день в мире существует огромное количество продуктов и потребителю все тяжелее сделать правильный выбор, который как нельзя лучше подойдет для решения его задачи и достижению желаемого результата. Обращайтесь в «Технодвор» – и мы подберем для Вас именно такой!
        .col-lg-3
          .about-us__side.about-us__side_contacts
            p.about-us__side-text Заполните форму и свяжитесь с нами
            a.btn.btn_green Связаться
          .about-us__side.about-us__side_services
            p.about-us__side-text Узнайте больше о наших услугах
            a.btn.btn_green Узнать
      .about-us__content
        h3.green.bordered 4 причины, по которым Вам выгодно обратиться к нам:
        .row
          .col-md-6
            h4.about-us__service 1. Каждый клиент для нас – это маленький «проект»
            p Мы ведем его от начала и до конца, корректируем в зависимости от условий и на выходе каждая сторона получает ценность и пользу. Если у Вас возникнут вопросы, Вы можете оперативно получить на них ответы, связавшись с нашими специалистами. Воспользуйтесь бесплатной консультацией, отправив запрос «перезвоните мне». Мы оперативно подберём необходимую продукцию. Мы также берём организацию последующей доставки и все процедуры таможенного оформления на себя.
          .col-md-6
            h4.about-us__service 2. Широкий ассортимент продукции
            p В разделе "Товары и услуги" Вы можете ознакомиться с полным перечнем грузовых автомобилей, самосвалов, тракторов, пресс-подборщиков, погрузчиков и другими видами сельскохозяйственной, автомобильной и специальной техники, на которой мы специализируемся. Мы также осуществляем продажу фирменных запасных частей для всей продукции, представленной в каталоге. 
          .col-md-6
            h4.about-us__service 3. Доставка за пределы Республики Беларусь
            p Мы осуществляем доставку в любую точку мира. За 10 лет работы с партнерскими транспортными компаниями мы довели процессы поставки практически до автоматизма, что позволяет доставлять технику в кратчайшие сроки. Мы полностью доверяем транспортным компаниям, с которыми сотрудничаем, и можем поручиться за целостность и сохранность поставки. 
          .col-md-6
            h4.about-us__service 4. Квалифицированные специалисты
            p Наша команда собрана из специалистов с разных стран, которые разговаривают на 6 языках мира, что позволяет нам строить бизнес с зарубежными партнерами.
  include templates/offers
  include templates/partners
  include templates/footer
