extends templates/base

block content
  header.header
    .header__inner
      a.header__logo.logo(href='home.html')
        img(src="images/logo.svg").logo__src
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="home.html") Главная
          li.nav__item
            a.nav__link.nav__link_active(href="about-us.html") О нас
          li.nav__item
            a.nav__link(href="list-products.html") Товары
          li.nav__item
            a.nav__link(href="services.html") Услуги
          li.nav__item
            a.nav__link(href="contacts.html") Контакты
      .header__search.search
        a.search__open
        form.search__form
          input(type="text", placeholder="Что вы ищите?").search__input
          a.search__close
      .header__sep
      .header__lang.lang
        .lang__open
          .lang__title RU
          .lang__cunt
        ul.lang__list
          li.lang__item
            a.lang__link(href="#") EN
      .mobile-nav.mobile-nav_first
        .mobile-nav__button.mobile-nav__button_search
        form.mobile-nav__search
          input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
      .mobile-nav
        .mobile-nav__button.mobile-nav__button_menu
        ul.mobile-nav__menu-list
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="home.html") Главная
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link.mobile-nav__menu-link_active(href="about-us.html") О нас
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="list-products.html") Товары
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Сельхозтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Спецтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Грузовая техника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Запчасти
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="services.html") Услуги
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="contacts.html") Контакты
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link RU
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link EN
              li.mobile-nav__submenu-item
    

  section.page-head.page-head_about-us
  section.page.about-us
    .container
      .row
        .col-lg-9.col-md-8
          h3.green Кто мы?
          .about-us__intro
            p Компания «Технодвор» является поставщиком качественных решений для бизнеса в области сельскохозяйственной, автомобильной и специальной техники в сфере тяжелой и легкой промышленности. Наравне с продажей техники и оборудования мы оказываем консультационные и посреднические услуги. Опыт наших сотрудников в профессиональной области составляет более 15 лет. Миссия нашей компании – сохранить Ваше время и принести пользу Вашему бизнесу. Наша важнейшая задача – продвижение качественных белорусских брендов на рынках зарубежных стран. Мы предлагаем только те товары и услуги, которые приносят выгоду и экономят ресурсы.
            p В эпоху стремительного развития, технологический прогресс каждый год предлагает новейшие техническое оборудование, для ускорения решения все более широких задач. На сегодняшний день в мире существует огромное количество продуктов и потребителю все тяжелее сделать правильный выбор, который как нельзя лучше подойдет для решения его задачи и достижению желаемого результата. Обращайтесь в «Технодвор» – и мы подберем для Вас именно такой!
        .col-lg-3.col-md-4
          .about-us__side.about-us__side_contacts
            p.about-us__side-text Заполните форму и свяжитесь с нами
            a.btn.btn_green(href="contacts.html") Связаться
          .about-us__side.about-us__side_services
            p.about-us__side-text Узнайте больше о наших услугах
            a.btn.btn_green(href="services.html") Узнать
      .about-us__content
        h3.green.bordered 4 причины, по которым Вам выгодно обратиться к нам:
        .row
          .col-md-6
            h4.about-us__service 1. Каждый клиент для нас – это маленький «проект»
            p Мы ведем его от начала и до конца, корректируем в зависимости от условий и на выходе каждая сторона получает ценность и пользу. Если у Вас возникнут вопросы, Вы можете оперативно получить на них ответы, связавшись с нашими специалистами. Воспользуйтесь бесплатной консультацией, отправив запрос «перезвоните мне». Мы оперативно подберём необходимую продукцию. Мы также берём организацию последующей доставки и все процедуры таможенного оформления на себя.
          .col-md-6
            h4.about-us__service 2. Широкий ассортимент продукции
            p В разделе "Товары и услуги" Вы можете ознакомиться с полным перечнем грузовых автомобилей, самосвалов, тракторов, пресс-подборщиков, погрузчиков и другими видами сельскохозяйственной, автомобильной и специальной техники, на которой мы специализируемся. Мы также осуществляем продажу фирменных запасных частей для всей продукции, представленной в каталоге. 
        .row
          .col-md-6
            h4.about-us__service 3. Доставка за пределы Республики Беларусь
            p Мы осуществляем доставку в любую точку мира. За 10 лет работы с партнерскими транспортными компаниями мы довели процессы поставки практически до автоматизма, что позволяет доставлять технику в кратчайшие сроки. Мы полностью доверяем транспортным компаниям, с которыми сотрудничаем, и можем поручиться за целостность и сохранность поставки. 
          .col-md-6
            h4.about-us__service 4. Квалифицированные специалисты
            p Наша команда собрана из специалистов с разных стран, которые разговаривают на 6 языках мира, что позволяет нам строить бизнес с зарубежными партнерами.
  include templates/offers
  include templates/partners
  include templates/footer
