extends templates/base

block content
  header.header
    .header__inner
      a.header__logo.logo(href='home.html')
        img(src="images/logo-en.svg").logo__src
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="home.html") Home
          li.nav__item
            a.nav__link.nav__link_active(href="about-us.html") About us
          li.nav__item
            a.nav__link(href="list-products.html") Products
          li.nav__item
            a.nav__link(href="services.html") Services
          li.nav__item
            a.nav__link(href="contacts.html") Contacts
      .header__search.search
        a.search__open
        form.search__form
          input(type="text", placeholder="Что вы ищите?").search__input
          a.search__close
      .header__sep
      .header__lang.lang
        .lang__open
          .lang__title EN
          .lang__cunt
        ul.lang__list
          li.lang__item
            a.lang__link(href="#") RU
      .mobile-nav.mobile-nav_first
        .mobile-nav__button.mobile-nav__button_search
        form.mobile-nav__search
          input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
      .mobile-nav
        .mobile-nav__button.mobile-nav__button_menu
        ul.mobile-nav__menu-list
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="home.html") Главная
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link.mobile-nav__menu-link_active(href="about-us.html") О нас
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="list-products.html") Товары
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Сельхозтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Спецтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Грузовая техника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Запчасти
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="services.html") Услуги
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="contacts.html") Контакты
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link RU
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link EN
              li.mobile-nav__submenu-item
    

  section.page-head.page-head_about-us
  section.page.about-us
    .container
      .row
        .col-lg-9.col-md-8
          h3.green Who are we?
          .about-us__intro
            p “Technodvor” company is the provider of high-quality solutions for businesses with the focus on agricultural, automotive and specialty machinery for both heavy and light industries. Apart from machinery distribution, we also provide advisory and intermediary services. Our employees have been working in the field for more than 15 years.<br/>The company mission is to save your time and benefit your business. Our primary task is the promotion of quality Belarusian brands on foreign markets. We deal only in those goods and services, which help you economize on the resources being invested and bring you profit.
            p Technological progress is developing rapidly and comes up with new types of machinery every year, which enables us to solve more and more comprehensive tasks and do that even more quickly. There is a great diversity of products on the market currently and customers have a hard time choosing what suits their needs most.<br/>Contact “Technodvor”, and we will find this perfect solution for you!
        .col-lg-3.col-md-4
          .about-us__side.about-us__side_contacts
            p.about-us__side-text Fill in the form and<br/>contact us
            a.btn.btn_green(href="contacts.html") Contact us
          .about-us__side.about-us__side_services
            p.about-us__side-text Learn more about our services
            a.btn.btn_green(href="services.html") Services
      .about-us__content
        h3.green.bordered 4 REASONS TO WORK WITH US:
        .row
          .col-md-6
            h4.about-us__service 1. Every client is a little “project” for us
            p We provide all the needed support to every “project” from the beginning up to the very end, making certain adjustments along the way so that each party benefits from it as much as possible.Once any questions on your side arise, please feel free to contact us to get your questions answered shortly. You can request a consultation totally free of charge by simply clicking a “call back” button. We will help you choose the product perfectly matching your needs. We also make ourselves responsible for further delivery and all of the customs clearance procedures.
          .col-md-6
            h4.about-us__service 2. A wide range of goods and services
            p In the “Goods and Services” section you can have a look at the list of lorries, tippers, tractors, balers, loaders and other types of agricultural, automotive and specialty machinery we specialize in.<br/>In addition to that, we also distribute branded spare parts for each vehicle listed.
        .row
          .col-md-6
            h4.about-us__service 3. International Delivery
            p We deliver our products worldwide.<br/>After 10-year cooperation with our partner shipping companies, the delivery processes have become so fine-tuned that we can ship orders in the shortest possible time. We totally trust our partner shipping companies and ensure safety of deliveries.
          .col-md-6
            h4.about-us__service 4. Well-qualified team members
            p Our team is made up of specialists coming from different countries, who speak 6 languages. That makes it much easier for us to deal with foreign partners.
  include templates/offers-en
  include templates/partners
  include templates/footer-en
