extends templates/base

block content
  include templates/header
  section.page-head.page-head_contacts
  section.page.page__contacts
    .page__contacts-contacts
      .container
        .row
          .col-md-4.page__contacts-contacts-item
            .footer__icon.footer__icon_phone-dark
            table
              tr
                td Тел:
                td +375 17 231 56 56
              tr
                td
                td +375 17 231 57 57
              tr
                td Факс:
                td +375 17 231 31 25
          .col-md-4.page__contacts-contacts-item
            .footer__icon.footer__icon_address-dark
            table
              tr
                td 220040, Минск
              tr
                td ул. Кирова, 8-4, офис 45
          .col-md-4.page__contacts-contacts-item
            .footer__icon.footer__icon_time-dark
            table
              tr
                td по будням:
                td 8.00 - 22.00
              tr
                td по выходным:
                td 8.00 - 22.00
    .container
      .row
        .col-md-6
          h3.green.bordered ООО "Технодвор"
          h5 Юридический адрес
          p 220088, Республика Беларусь, г. Минск,<br/>ул. Захарова 50В   2-29
          
        .col-md-6
          h3.green.bordered Контактная форма
          .page__contacts-form
            form.contacts-form.contacts-form_dark
              fieldset.contacts-form__fieldset
                input(type="text", placeholder="Имя*").contacts-form__input.contacts-form__input-name-d
              fieldset.contacts-form__fieldset
                input(type="text", placeholder="Email*").contacts-form__input.contacts-form__input-email-d
              fieldset.contacts-form__fieldset
                input(type="text", placeholder="Телефон*").contacts-form__input.contacts-form__input-phone-d
              fieldset.contacts-form__fieldset
                input(type="text", placeholder="Тема*").contacts-form__input.contacts-form__input-subject-d
              fieldset.contacts-form__fieldset
                textarea(placeholder="Ваше сообщение")
              fieldset.contacts-form__fieldset
                input(type="submit", value="Отправить").btn.btn_green.btn_full
    .peoples
      .container
        h3.green.bordered Руководство        
        .row
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
        h3.green.bordered Сопровождение продаж        
        .row
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
        h3.green.bordered Отдел продаж      
        .row
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
  footer.footer
    img(src="images/map.jpg").footer__map
    .footer__copy
      .container
        .row
          .col-md-12
            .footer__copy-inner
              span © 2016 ООО “Технодвор” 
              span
                | Разработка сайта - 
                a(href="#") Meldgraphics
              
