extends templates/base

block content
  header.header
    .header__inner
      a.header__logo.logo(href='home.html')
        img(src="images/logo.svg").logo__src
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="home.html") Главная
          li.nav__item
            a.nav__link(href="about-us.html") О нас
          li.nav__item
            a.nav__link(href="list-products.html") Товары
          li.nav__item
            a.nav__link(href="services.html") Услуги
          li.nav__item
            a.nav__link.nav__link_active(href="contacts.html") Контакты
      .header__search.search
        a.search__open
        form.search__form
          input(type="text", placeholder="Что вы ищите?").search__input
          a.search__close
      .header__sep
      .header__lang.lang
        .lang__open
          .lang__title RU
          .lang__cunt
        ul.lang__list
          li.lang__item
            a.lang__link(href="#") EN
      .mobile-nav.mobile-nav_first
        .mobile-nav__button.mobile-nav__button_search
        form.mobile-nav__search
          input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
      .mobile-nav
        .mobile-nav__button.mobile-nav__button_menu
        ul.mobile-nav__menu-list
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="home.html") Главная
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="about-us.html") О нас
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="list-products.html") Товары
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Сельхозтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Спецтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Грузовая техника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Запчасти
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="services.html") Услуги
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link.mobile-nav__menu-link_active(href="contacts.html") Контакты
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link RU
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link EN
              li.mobile-nav__submenu-item
  section.page-head.page-head_contacts
  section.page.page__contacts
    .page__contacts-contacts
      .container
        .row
          .col-md-4.page__contacts-contacts-item
            .footer__icon.footer__icon_phone-dark
            table
              tr
                td Тел:
                td +375 17 231 56 56
              tr
                td
                td +375 17 231 57 57
              tr
                td Факс:
                td +375 17 231 31 25
          .col-md-4.page__contacts-contacts-item
            .footer__icon.footer__icon_address-dark
            table
              tr
                td 220040, Минск
              tr
                td ул. Кирова, 8-4, офис 45
          .col-md-4.page__contacts-contacts-item
            .footer__icon.footer__icon_time-dark
            table
              tr
                td Пн - Пт:
                td 8.00 - 22.00
              tr
                td Суб - Вс:
                td 8.00 - 22.00
    .container
      .row
        .col-md-6
          h3.green.bordered ООО "Технодвор"
          h5 Юридический адрес
          p 220088, Республика Беларусь, г. Минск,<br/>ул. Захарова 50В   2-29
          
        .col-md-6
          h3.green.bordered Контактная форма
          .page__contacts-form
            form.contacts-form.contacts-form_dark
              fieldset.contacts-form__fieldset
                input(type="text", placeholder="Имя*").contacts-form__input.contacts-form__input-name-d
              fieldset.contacts-form__fieldset
                input(type="text", placeholder="Email*").contacts-form__input.contacts-form__input-email-d
              fieldset.contacts-form__fieldset
                input(type="text", placeholder="Телефон").contacts-form__input.contacts-form__input-phone-d
              fieldset.contacts-form__fieldset
                input(type="text", placeholder="Тема").contacts-form__input.contacts-form__input-subject-d
              fieldset.contacts-form__fieldset
                textarea(placeholder="Ваше сообщение")
              fieldset.contacts-form__fieldset
                input(type="submit", value="Отправить").btn.btn_green.btn_full
    .peoples
      .container
        h3.green.bordered Руководство        
        .row
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
        h3.green.bordered Сопровождение продаж        
        .row
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
        h3.green.bordered Отдел продаж      
        .row
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
          .col-md-6
            .people
              .people__photo
                img(src="//placehold.it/170x170").people__src
              .people__info
                h5.people__job Директор
                p.people__name Чеботаренок Игорь Игоревич
                .people__contacts
                  .people__phones
                    span.people__phone Тел:
                      span +375 (17) 231 56 56
                    span.people__phone Моб. тел:
                      span +375 (29) 387 36 72
                  p E-mail:
                    span igor@technodvor.com
  footer.footer
    #map.footer__map
    .footer__copy
      .container
        .row
          .col-md-12
            .footer__copy-inner
              span © 2016 ООО “Технодвор” 
              span
                | Разработка сайта - 
                a(href="#") Meldgraphics
  script.
    function initMap() {
    var coord = {lat: 53.894957, lng: 27.555690};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: coord,
      disableDefaultUI: true,
      scrollwheel: false,
      styles: [{
        stylers: [{
          saturation: -100
        }]
      }],
      zoomControl: true,
      zoomControlOptions: {
          position: google.maps.ControlPosition.RIGHT_CENTER
      }
    });
    var marker = new google.maps.Marker({
      position: coord,
      map: map
    });
    }
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBowPUp3JBYhntZ3j5wDx8IkeO_trXMzZA&callback=initMap')
              
