extends templates/base

block content
  header.header
    .header__inner
      a.header__logo.logo(href='home.html')
        img(src="images/logo.svg").logo__src
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="home.html").nav__link_active Главная
          li.nav__item
            a.nav__link(href="about-us.html") О нас
          li.nav__item
            a.nav__link(href="list-products.html") Товары
          li.nav__item
            a.nav__link(href="services.html") Услуги
          li.nav__item
            a.nav__link(href="contacts.html") Контакты
      .header__search.search
        a.search__open
        form.search__form
          input(type="text", placeholder="Что вы ищите?").search__input
          a.search__close
      .header__sep
      .header__lang.lang
        .lang__open
          .lang__title RU
          .lang__cunt
        ul.lang__list
          li.lang__item
            a.lang__link(href="#") EN
      .mobile-nav.mobile-nav_first
        .mobile-nav__button.mobile-nav__button_search
        form.mobile-nav__search
          input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
      .mobile-nav
        .mobile-nav__button.mobile-nav__button_menu
        ul.mobile-nav__menu-list
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link.mobile-nav__menu-link_active(href="home.html") Главная
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="about-us.html") О нас
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="list-products.html") Товары
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Сельхозтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Спецтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Грузовая техника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Запчасти
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="services.html") Услуги
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="contacts.html") Контакты
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link RU
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link EN
              li.mobile-nav__submenu-item
  section.intro
    ul.intro__list
      li.intro__item
        .intro__slide
          img.intro__image(src='images/intro_1.png')
          .intro__content
            .intro__text Мы предлагаем<br/>современную и<br/>надежную технику
      li.intro__item
        .intro__slide
          img.intro__image(src='images/intro_2.png')
          .intro__content
            .intro__text Мы предлагаем<br/>современную и<br/>надежную технику
      li.intro__item
        .intro__slide
          img.intro__image(src='images/intro_3.png')
          .intro__content
            .intro__text Мы предлагаем<br/>современную и<br/>надежную технику
    .intro__info
      .container
        .row.intro__info-content
          .col-md-4.intro__info-left
            img(src="images/intro_image.gif").intro__info-img
          .col-md-8.col-xs-12.intro__info-right
            h3 Добро пожаловать на страницу ООО «Технодвор»! 
            p Мы с уважением относимся к Вашим потребностям и стараемся оптимизировать Ваши технологические процессы с помощью наших продукции и услуг.<br/>Компания «Технодвор» является поставщиком качественных решений для бизнеса в области сельскохозяйственной, автомобильной и специальной техники в сфере тяжелой и легкой промышленности. Наравне с продажей техники и оборудования мы оказываем консультационные и посреднические услуги. Опыт наших сотрудников в профессиональной области составляет больше 15 лет.
            .align-right
              a.btn.btn_gt(href="#") Далее о компании
  section.products-home
    .container
      .row
        .col-md-12
          a(href="#")
            h3.bordered.link Акции и спецпредложения
          ul.products-home__list
            li.products-home__item
              a.product-home.product-home_0
            li.products-home__item
              a.product-home.product-home_1
            li.products-home__item
              a.product-home.product-home_2
            li.products-home__item
              a.product-home.product-home_3
            li.products-home__item
              a.product-home.product-home_4
          .align-right
            a.btn.btn_gt(href="#") Перейти к товарам
  include templates/offers
  include templates/partners
  include templates/footer
