extends templates/base

block content
  ol.review
    li
      a(href="home.html") Home
    li
      a(href="about-us.html") About us
    li
      a(href="services.html") Services
    li
      a(href="contacts.html") Contacts
    li
      a(href="list-products.html") Products list
    li
      a(href="list-parts.html") Parts list
    li
      a(href="single-product.html") Single product
    li
      a(href="single-part.html") Single part
    li
      a(href="list-offers.html") Offers list
