extends templates/base

block content
  header.header
    .header__inner
      a.header__logo.logo(href='home.html')
        img(src="images/logo.svg").logo__src
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="home.html") Главная
          li.nav__item
            a.nav__link(href="about-us.html") О нас
          li.nav__item
            a.nav__link(href="list-products.html") Товары
          li.nav__item
            a.nav__link(href="services.html") Услуги
          li.nav__item
            a.nav__link(href="contacts.html") Контакты
      .header__search.search
        a.search__open
        form.search__form
          input(type="text", placeholder="Что вы ищите?").search__input
          a.search__close
      .header__sep
      .header__lang.lang
        .lang__open
          .lang__title RU
          .lang__cunt
        ul.lang__list
          li.lang__item
            a.lang__link(href="#") EN
      .mobile-nav.mobile-nav_first
        .mobile-nav__button.mobile-nav__button_search
        form.mobile-nav__search
          input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
      .mobile-nav
        .mobile-nav__button.mobile-nav__button_menu
        ul.mobile-nav__menu-list
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="home.html") Главная
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="about-us.html") О нас
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="list-products.html") Товары
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Сельхозтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Спецтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Грузовая техника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Запчасти
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="services.html") Услуги
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="contacts.html") Контакты
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link RU
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link EN
              li.mobile-nav__submenu-item
  section.page-head.page-head_products
  section.page.page_nopadding.page__products.products
    .products__inner
      aside.products__side
        ul.side-nav
          li.side-nav__item
            a.side-nav__link.side-nav__link_1(href="#") Сельхозтехника
          li.side-nav__item
            a.side-nav__link.side-nav__link_2 Спецтехника
          li.side-nav__item
            a.side-nav__link.side-nav__link_3 Грузовая техника
          li.side-nav__item
            a.side-nav__link.side-nav__link_4 Дополнительное оборудование
          li.side-nav__item
            a.side-nav__link.side-nav__link_5 Запчасти
          li.side-nav__item
            a.side-nav__link.side-nav__link_6 Двигатели и запчасти к ним
          li.side-nav__item
            a.side-nav__link.side-nav__link_active.side-nav__link_7 Акции и спецпредложения
            
        section.side-slider
          h3.bordered Акции и спецпредложения
          ul.side-slider__list
            li.side-slider__item
              .offer(style="background-image: url('images/offers/01.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/02.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/03.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/04.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            
      section.products__content
        section.controls.controls_offers
          .controls__inner
            a.control-back.btn.btn_gt(href="#") Вернуться к категориям
            .control-page
              a.control-page__item.control-page__item_prev(href="#")
              a.control-page__item.control-page__item_next(href="#")
        .offers-list
          .row
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/01.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/02.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/03.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/04.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/01.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/02.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/03.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/04.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            .col-md-4.col-sm-6
              .offer.offers-list__item(style="background-image: url('images/offers/01.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
        .pagination.pagination_list
          a.pagination__prev Предыдущая
          .pagination__items
            .pagination__item
              a.pagination__link.pagination__link_active 1
            .pagination__item
              a.pagination__link 2
            .pagination__item
              a.pagination__link 3
            .pagination__item
              a.pagination__link 4
            .pagination__item
              a.pagination__sep ...
            .pagination__item
              a.pagination__link 8
          a.pagination__next Следующая
  include templates/footer
