extends templates/base

block content
  include templates/header
  section.page-head.page-head_products
  section.page.page_nopadding.page__products.products
    .products__inner
      aside.products__side
        ul.side-nav
          li.side-nav__item
            a.side-nav__link.side-nav__link_1(href="#") Сельхозтехника
            ul.side-subnav
              li.side-subnav__item
                a.side-subnav__link.side-subnav__link_active(href="#") Тракторы
              li.side-subnav__item
                a.side-subnav__link Почвообработка
              li.side-subnav__item
                a.side-subnav__link Посев
              li.side-subnav__item
                a.side-subnav__link Внесение удобрений
              li.side-subnav__item
                a.side-subnav__link Хим. защита растений
              li.side-subnav__item
                a.side-subnav__link Для возделывания пропашных культур
              li.side-subnav__item
                a.side-subnav__link Кормозаготовка
              li.side-subnav__item
                a.side-subnav__link Уборка зерновых культур
              li.side-subnav__item
                a.side-subnav__link Машины и оборудование для животноводства
              li.side-subnav__item
                a.side-subnav__link Перевозка грузов
          li.side-nav__item
            a.side-nav__link.side-nav__link_2 Спецтехника
          li.side-nav__item
            a.side-nav__link.side-nav__link_3 Грузовая техника
          li.side-nav__item
            a.side-nav__link.side-nav__link_4 Дополнительное оборудование
          li.side-nav__item
            a.side-nav__link.side-nav__link_active.side-nav__link_5 Запчасти
            ul.side-subnav
              li.side-subnav__item
                .side-subnav__title Запчасти к сельхозтехнике
              li.side-subnav__item
                a.side-subnav__link.side-subnav__link_active Запчасти к тракторам Беларус
              li.side-subnav__item
                a.side-subnav__link Прокладки
              li.side-subnav__item
                a.side-subnav__link Ремкомлпекты
              li.side-subnav__item
                a.side-subnav__link Поршневые группы
              li.side-subnav__item
                .side-subnav__title Запчасти к сельхозтехнике
              li.side-subnav__item
                a.side-subnav__link Запчасти к тракторам Беларус
              li.side-subnav__item
                a.side-subnav__link Прокладки
              li.side-subnav__item
                a.side-subnav__link Ремкомлпекты
              li.side-subnav__item
                a.side-subnav__link Поршневые группы
          li.side-nav__item
            a.side-nav__link.side-nav__link_6 Двигатели и запчасти к ним
          li.side-nav__item
            a.side-nav__link.side-nav__link_7 Акции и спецпредложения
            
        section.side-slider
          h3.bordered Акции и спецпредложения
          ul.side-slider__list
            li.side-slider__item
              .offer(style="background-image: url('images/offers/01.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/02.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/03.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/04.png');")
                .offer__title Распродажа техники
                .offer__sale скидка 15%
            
      section.products__content
        ul.products-list
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
          li.products-list__item
            .product-item
              .product-item__media
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
          li.products-list__item
            .product-item
              .product-item__media
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
          li.products-list__item
            .product-item
              .product-item__media
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
          li.products-list__item
            .product-item
              .product-item__media
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
          li.products-list__item
            .product-item
              .product-item__media
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
          li.products-list__item
            .product-item
              .product-item__media
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
          li.products-list__item
            .product-item
              .product-item__media
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
          li.products-list__item
            .product-item
              .product-item__media
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__additional
                  .product-item__detail
                    span.product-item__detail-item Бренд:
                    span.product-item__detail-value Minsk Tractor Works
                  .product-item__detail
                    span.product-item__detail-item Номер продукта:
                    span.product-item__detail-value 02551059845
                .product-item__control
                  a.btn.btn_gt(href="#") Заказать
  include templates/footer
