extends templates/base

block content
  header.header
    .header__inner
      a.header__logo.logo(href='home.html')
        img(src="images/logo-en.svg").logo__src
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="home.html") Home
          li.nav__item
            a.nav__link(href="about-us.html") About us
          li.nav__item
            a.nav__link.nav__link_active(href="list-products.html") Products
          li.nav__item
            a.nav__link(href="services.html") Services
          li.nav__item
            a.nav__link(href="contacts.html") Contacts
      .header__search.search
        a.search__open
        form.search__form
          input(type="text", placeholder="Что вы иßщите?").search__input
          a.search__close
      .header__sep
      .header__lang.lang
        .lang__open
          .lang__title EN
          .lang__cunt
        ul.lang__list
          li.lang__item
            a.lang__link(href="#") RU
      .mobile-nav.mobile-nav_first
        .mobile-nav__button.mobile-nav__button_search
        form.mobile-nav__search
          input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
      .mobile-nav
        .mobile-nav__button.mobile-nav__button_menu
        ul.mobile-nav__menu-list
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="home.html") Главная
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="about-us.html") О нас
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link.mobile-nav__menu-link_active(href="list-products.html") Товары
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Сельхозтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Спецтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Грузовая техника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Запчасти
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="services.html") Услуги
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="contacts.html") Контакты
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link RU
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link EN
              li.mobile-nav__submenu-item
  section.page-head.page-head_products
  section.page.page_nopadding.page__products.products
    .products__inner
      aside.products__side
        ul.side-nav
          li.side-nav__item
            a.side-nav__link.side-nav__link_1(href="#") Farm Machinery
            ul.side-subnav
              li.side-subnav__item
                a.side-subnav__link.side-subnav__link_active(href="#") Tractors
              li.side-subnav__item
                a.side-subnav__link Cultivation Machinery
              li.side-subnav__item
                a.side-subnav__link Planting Machinery
              li.side-subnav__item
                a.side-subnav__link Fertilizer Distribution Machinery
              li.side-subnav__item
                a.side-subnav__link Chemical Plant Protection Machinery
              li.side-subnav__item
                a.side-subnav__link Cultivated Crop Treatment Machinery
              li.side-subnav__item
                a.side-subnav__link Forage Machinery
              li.side-subnav__item
                a.side-subnav__link Grain Crops Harvesting Machinery
              li.side-subnav__item
                a.side-subnav__link Cattle Breeding Machinery
              li.side-subnav__item
                a.side-subnav__link Freightage Services
          li.side-nav__item
            a.side-nav__link.side-nav__link_2.side-nav__link_active Special Machinery
          li.side-nav__item
            a.side-nav__link.side-nav__link_4 Added Machinery
          li.side-nav__item
            a.side-nav__link.side-nav__link_5 Spare Parts
            ul.side-subnav
              li.side-subnav__item
                .side-subnav__title Запчасти к сельхозтехнике
              li.side-subnav__item
                a.side-subnav__link.side-subnav__link_active Запчасти к тракторам Беларус
              li.side-subnav__item
                a.side-subnav__link Прокладки
              li.side-subnav__item
                a.side-subnav__link Ремкомлпекты
              li.side-subnav__item
                a.side-subnav__link Поршневые группы
              li.side-subnav__item
                .side-subnav__title Запчасти к сельхозтехнике
              li.side-subnav__item
                a.side-subnav__link Запчасти к тракторам Беларус
              li.side-subnav__item
                a.side-subnav__link Прокладки
              li.side-subnav__item
                a.side-subnav__link Ремкомлпекты
              li.side-subnav__item
                a.side-subnav__link Поршневые группы
          li.side-nav__item
            a.side-nav__link.side-nav__link_6 Engines & Spare Parts to them
          li.side-nav__item
            a.side-nav__link.side-nav__link_7 Special Offers
            
        section.side-slider
          h3.bordered Special offers
          ul.side-slider__list
            li.side-slider__item
              .offer(style="background-image: url('images/offers/01.png');")
                .offer__title Lorem impsum dolor
                .offer__sale Lorem impsum 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/02.png');")
                .offer__title Lorem impsum dolor
                .offer__sale Lorem impsum 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/03.png');")
                .offer__title Lorem impsum dolor
                .offer__sale Lorem impsum 15%
            li.side-slider__item
              .offer(style="background-image: url('images/offers/04.png');")
                .offer__title Lorem impsum dolor
                .offer__sale Lorem impsum 15%
            
      section.products__content
        .products__filter
          .products__filter-title Выберите тяговый класс
          ul.products__filter-list.filter-list
            li.filter-list__item
              a.filter-list__link.filter-list__link_active(href="#")
                .filter-list__title less than 40 h.p.
                .filter-list__icon.filter-list__icon_1
            li.filter-list__item
              a.filter-list__link(href="#")
                .filter-list__title 40 - 99 h.p.
                .filter-list__icon.filter-list__icon_2
            li.filter-list__item
              a.filter-list__link(href="#")
                .filter-list__title 100 - 174 h.p.
                .filter-list__icon.filter-list__icon_3
            li.filter-list__item
              a.filter-list__link(href="#")
                .filter-list__title more 175 h.p.
                .filter-list__icon.filter-list__icon_4
        ul.products-list
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist in stock
                .product-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Order
                  a.btn.btn_mt(href="#") View
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
          li.products-list__item
            .product-item
              .product-item__media
                .product-item__sale Акция
                img.product-item__src(src="//placehold.it/300x300")
              .product-item__details
                .product-item__title
                  a(href="#") Belarus 1220.6
                .product-item__exist В наличии
                .product-item__description Трактор БЕЛАРУС-1221.2 (4×4) относится к тяговому классу 2,0 с двигателем мощностью 130 л.с. Предназначен для выполнения различных сельскохозяй ственных работ с навесными, полунавесными и прицепными машинами, на транспорте, с погрузочно-разгрузочными средствами, уборочными комплексами и для привода стационарных сельскохозяйственных машин.
                .product-item__controls.align-right
                  a.btn.btn_gt(href="#") Заказать
                  a.btn.btn_mt(href="#") Посмотреть
        .pagination.pagination_list
          a.pagination__prev previous
          .pagination__items
            .pagination__item
              a.pagination__link.pagination__link_active 1
            .pagination__item
              a.pagination__link 2
            .pagination__item
              a.pagination__link 3
            .pagination__item
              a.pagination__link 4
            .pagination__item
              a.pagination__sep ...
            .pagination__item
              a.pagination__link 8
            
          a.pagination__next next
  include templates/footer-en
