extends templates/base

block content
  header.header
    .header__inner
      a.header__logo.logo(href='home.html')
        img(src="images/logo-en.svg").logo__src
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="home.html") Home
          li.nav__item
            a.nav__link(href="about-us.html") About us
          li.nav__item
            a.nav__link(href="list-products.html") Products
          li.nav__item
            a.nav__link.nav__link_active(href="services.html") Services
          li.nav__item
            a.nav__link(href="contacts.html") Contacts
      .header__search.search
        a.search__open
        form.search__form
          input(type="text", placeholder="Что вы ищите?").search__input
          a.search__close
      .header__sep
      .header__lang.lang
        .lang__open
          .lang__title EN
          .lang__cunt
        ul.lang__list
          li.lang__item
            a.lang__link(href="#") RU
      .mobile-nav.mobile-nav_first
        .mobile-nav__button.mobile-nav__button_search
        form.mobile-nav__search
          input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
      .mobile-nav
        .mobile-nav__button.mobile-nav__button_menu
        ul.mobile-nav__menu-list
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="home.html") Главная
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="about-us.html") О нас
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="list-products.html") Товары
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Сельхозтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Спецтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Грузовая техника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Запчасти
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link.mobile-nav__menu-link_active(href="services.html") Услуги
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="contacts.html") Контакты
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link RU
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link EN
              li.mobile-nav__submenu-item
  section.page-head.page-head_services
  section.page.page__services.services
    section.services__service.service
      .container
        .row.service__content
          .col-md-3.col-sm-12
            .service__media
              img(src="images/services/1.svg").service__icon
              h4.green 1. Logistics
          .col-md-9.col-sm-12
            .service__description.service__description_left
              p
                strong Worldwide delivery.
              p Logistics is easier now, as our staff takes full responsibility for tracking the freight from point A to point B. We provide logistics services for all products regardless of the place of purchase: be it ‘Technodvor” or any other company.
              p We guarantee timely:
                ul
                  li loading;
                  li certification;
                  li customs clearance;
                  li transit of goods;
              p Extensive experience of delivering goods internationally enables us to guarantee you the provision of high-quality services at a reasonable price.
    section.services__service.service.service_dark
      .container
        .row.service__content
          .col-md-9.col-sm-12.order-2
            .service__description.service__description_right
              p
                strong Based on the budget and tasks make up the optimal specification of technic to solve maximum tasks for minimum money.
              p “Technodvor” company has always been specialising in the machinery for heavy and light industries, therefore you can always get professional advice in these fields. We provide consultations on each product listed.
          .col-md-3.col-sm-12.order-1
            .service__media
              img(src="images/services/2.svg").service__icon
              h4.green 2. Advisory services
    section.services__service.service
      .container
        .row.service__content
          .col-md-3.col-sm-12
            .service__media
              img(src="images/services/3.svg").service__icon
              h4.green 3. Intermediary services
          .col-md-9.col-sm-12
            .service__description.service__description_left
              p
                strong Выступаем квалифицированным посредником всех заводов изготовителей беря на себя все риски и отвечая за результат.
              p We provide intermediary services between manufacturers and clients, outside suppliers and customers.
              p Our scope of intermediary services includes:
                ul
                  li communication with a manufacturer and further sales decision process coordination;
                  li dispatch dates control;
                  li product examination before confirming a purchase;
                  li additional packing of the transported goods;
                  li product safety control during its shipment;
                  li пnegotiations with the client on behalf of a supplier/customer;
                  li transparency of a deal for each party;
                  li risk hedging.
              p Apart from the listed activities, we also make sure each party strictly follows and fulfills the contract conditions on tim. 
    section.services__service.service.service_dark
      .container
        .row.service__content
          .col-sm-12.col-md-9.order-2
            .service__description.service__description_right
              p
                strong Мы организовываем и проводим независимые тендеры среди поставщиков и производителей на закупку товара.
              p We run independent tenders for purchase contracts between suppliers and manufacturers.<br/>Any cooperation both with clients and suppliers is based on the principles of justice and mutual benefit for us. The results of tenders are always 100% correct and stay clear of individual interests of the parties concerned.<br/>Our specialists seek thoroughly for offers focusing on the product’s general cost-effectiveness for your business. Based on preliminary analysis, we will send you the list of alternatives satisfying your needs best.
          .col-md-3.col-sm-12.order-1
            .service__media
              img(src="images/services/4.svg").service__icon
              h4.green 4. Independent tenders
  include templates/offers-en
  include templates/partners
  include templates/footer-en
