extends templates/base

block content
  header.header
    .header__inner
      a.header__logo.logo(href='home.html')
        img(src="images/logo.svg").logo__src
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="home.html") Главная
          li.nav__item
            a.nav__link(href="about-us.html") О нас
          li.nav__item
            a.nav__link(href="list-products.html") Товары
          li.nav__item
            a.nav__link.nav__link_active(href="services.html") Услуги
          li.nav__item
            a.nav__link(href="contacts.html") Контакты
      .header__search.search
        a.search__open
        form.search__form
          input(type="text", placeholder="Что вы ищите?").search__input
          a.search__close
      .header__sep
      .header__lang.lang
        .lang__open
          .lang__title RU
          .lang__cunt
        ul.lang__list
          li.lang__item
            a.lang__link(href="#") EN
      .mobile-nav.mobile-nav_first
        .mobile-nav__button.mobile-nav__button_search
        form.mobile-nav__search
          input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
      .mobile-nav
        .mobile-nav__button.mobile-nav__button_menu
        ul.mobile-nav__menu-list
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="home.html") Главная
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="about-us.html") О нас
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="list-products.html") Товары
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Сельхозтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Спецтехника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Грузовая техника
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link Запчасти
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link.mobile-nav__menu-link_active(href="services.html") Услуги
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link(href="contacts.html") Контакты
          li.mobile-nav__menu-item
            a.mobile-nav__menu-link RU
            ul.mobile-nav__submenu
              li.mobile-nav__submenu-item
                a.mobile-nav__submenu-link EN
              li.mobile-nav__submenu-item
  section.page-head.page-head_services
  section.page.page__services.services
    section.services__service.service
      .container
        .row.service__content
          .col-md-3.col-sm-12
            .service__media
              img(src="images/services/1.svg").service__icon
              h4.green 1. Логистика товаров
          .col-md-9.col-sm-12
            .service__description.service__description_left
              p
                strong Отправка и сопроваждение товаров в любую точку мира.
              p Логистика товаров становится проще, ведь ответственность по сопровождению и контролю поставки Вашего груза из пункта А в пункт Б возьмут на себя наши специалисты. Спектр услуг по перевозке распространяется абсолютно на любые товары, независимо от того, где они были приобретены (у нас или в другой компании ). 
              p Мы гарантируем своевременные:
                ul
                  li загрузку;
                  li сертифицирование;
                  li таможенное оформление;
                  li транзит товара;
              p Богатый опыт работы по различным маршрутам позволяет нам заверить Вас в высоком качестве предоставления услуг по оптимальным ценам.
    section.services__service.service.service_dark
      .container
        .row.service__content
          .col-md-9.col-sm-12.order-2
            .service__description.service__description_right
              p
                strong Исходя из бюджета и задач составляем оптимальную спецификацию техники для выполнения максимум задач за миниму денег.
              p Компания «Технодвор» специализируется на продаже техники для тяжелой и легкой промышленности, поэтому у нас Вы всегда сможете получить компетентные рекомендации в этой области. Мы проводим консультации по всем товарным позициям.
          .col-md-3.col-sm-12.order-1
            .service__media
              img(src="images/services/2.svg").service__icon
              h4.green 2. Консультирование
    section.services__service.service
      .container
        .row.service__content
          .col-md-3.col-sm-12
            .service__media
              img(src="images/services/3.svg").service__icon
              h4.green 3. Посреднические услуги
          .col-md-9.col-sm-12
            .service__description.service__description_left
              p
                strong Выступаем квалифицированным посредником всех заводов изготовителей беря на себя все риски и отвечая за результат.
              p Мы оказываем услуги посредника между производителем и клиентом, а также между импортным поставщиком и покупателем. 
              p Круг операций, предоставляемых в рамках посредничества, охватывает:
                ul
                  li общение с заводом-изготовителем и координация полного цикла работ;
                  li контроль сроков отгрузки;
                  li проверка качества товара при приемке на заводе-изготовителе;
                  li дополнительная упаковка товара;
                  li обеспечение сохранности груза при транспортировке;
                  li проведение переговоров с клиентом от имени поставщика или покупателя;
                  li гарантия прозрачности сделки для всех сторон;
                  li страхование рисков.
              p Помимо вышеперечисленных операций, с нашей стороны также отслеживается безупречное и своевременное выполнение всех условий каждой стороной договора.
    section.services__service.service.service_dark
      .container
        .row.service__content
          .col-sm-12.col-md-9.order-2
            .service__description.service__description_right
              p
                strong Мы организовываем и проводим независимые тендеры среди поставщиков и производителей на закупку товара.
              p Любое сотрудничество как с клиентом, так и с поставщиком товара построено для нас на нормах справедливости и взаимной выгоды. Итоги тендеров всегда на 100% верны и независимы от персональных интересов лиц, ответственных за их проведение.<br/>Наши специалисты осуществляют точечный отбор предложений, анализируют их на предмет соотношения цены и качества, доступности для клиента и соответствия рыночной конъюнктуре. На основе проделанной работы Вам будут предложены варианты, максимально точно отвечающие запрошенным требованиям.
          .col-md-3.col-sm-12.order-1
            .service__media
              img(src="images/services/4.svg").service__icon
              h4.green 4. Независимые тендеры
  include templates/offers
  include templates/partners
  include templates/footer
