footer.footer
  .container
    .row
      .col-md-6.col-md-offset-3
        .footer__form
          h4.footer__form-title Контактная форма
          form.contacts-form
            fieldset.contacts-form__fieldset
              input(type="text", placeholder="Имя*").contacts-form__input.contacts-form__input-name
            fieldset.contacts-form__fieldset
              input(type="text", placeholder="Email*").contacts-form__input.contacts-form__input-email
            fieldset.contacts-form__fieldset
              input(type="text", placeholder="Телефон*").contacts-form__input.contacts-form__input-phone
            fieldset.contacts-form__fieldset
              input(type="text", placeholder="Тема*").contacts-form__input.contacts-form__input-subject
            fieldset.contacts-form__fieldset
              textarea(placeholder="Ваше сообщение")
            fieldset.contacts-form__fieldset.align-right
              input(type="submit", value="Отправить").btn.btn_transparent
              
  .footer__contacts
    .container
      .row
        .col-md-4
          .footer__icon.footer__icon_phone
          table
            tr
              td Тел:
              td +375 17 231 56 56
            tr
              td
              td +375 17 231 57 57
            tr
              td Факс:
              td +375 17 231 31 25
        .col-md-4
          .footer__icon.footer__icon_address
          table
            tr
              td 220040, Минск
            tr
              td ул. Кирова, 8-4, офис 45
        .col-md-4
          .footer__icon.footer__icon_time
          table
            tr
              td по будням:
              td 8.00 - 22.00
            tr
              td по выходным:
              td 8.00 - 22.00
  img(src="images/map.jpg").footer__map
  .footer__copy
    .container
      .row
        .col-md-12
          .footer__copy-inner
            span © 2016 ООО “Технодвор” 
            span
              | Разработка сайта - 
              a(href="#") Meldgraphics
            
