header.header
  .header__inner
    a.header__logo.logo(href='#')
      img(src="images/logo.svg").logo__src
    nav.header__nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link.nav__link_active Главная
        li.nav__item
          a.nav__link О нас
        li.nav__item
          a.nav__link Товары
        li.nav__item
          a.nav__link Услуги
        li.nav__item
          a.nav__link Контакты
    .header__search.search
      a.search__open
      form.search__form
        input(type="text", placeholder="Что вы ищите?").search__input
        a.search__close
    .header__sep
    .header__lang.lang
      .lang__open
        .lang__title RU
        .lang__cunt
      ul.lang__list
        li.lang__item
          a.lang__link(href="#") EN
    .mobile-nav.mobile-nav_first
      .mobile-nav__button.mobile-nav__button_search
      form.mobile-nav__search
        input.mobile-nav__input(type="text", placeholder="Что вы ищите?")
    .mobile-nav
      .mobile-nav__button.mobile-nav__button_menu
      ul.mobile-nav__menu-list
        li.mobile-nav__menu-item
          a.mobile-nav__menu-link.mobile-nav__menu-link_active Главная
        li.mobile-nav__menu-item
          a.mobile-nav__menu-link О нас
        li.mobile-nav__menu-item
          a.mobile-nav__menu-link Товары
          ul.mobile-nav__submenu
            li.mobile-nav__submenu-item
              a.mobile-nav__submenu-link Сельхозтехника
            li.mobile-nav__submenu-item
              a.mobile-nav__submenu-link Спецтехника
            li.mobile-nav__submenu-item
              a.mobile-nav__submenu-link Грузовая техника
            li.mobile-nav__submenu-item
              a.mobile-nav__submenu-link Запчасти
        li.mobile-nav__menu-item
          a.mobile-nav__menu-link Услуги
        li.mobile-nav__menu-item
          a.mobile-nav__menu-link Контакты
        li.mobile-nav__menu-item
          a.mobile-nav__menu-link RU
          ul.mobile-nav__submenu
            li.mobile-nav__submenu-item
              a.mobile-nav__submenu-link EN
            li.mobile-nav__submenu-item
    
