section.offers
  .container
    a(href="#")
      h3.bordered.link Акции и спецпредложения
    ul.offers__list
      li.offers__item
        .offer(style="background-image: url('../images/offers/1.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/2.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/3.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/4.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/1.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/2.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/3.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/4.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/1.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/2.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/3.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/4.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/1.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/2.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/3.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
      li.offers__item
        .offer(style="background-image: url('../images/offers/4.png');")
          .offer__title Распродажа техники
          .offer__sale скидка 15%
