.partners
  .container
    ul.partners__list
      .partners__item
        .partners__slide
          img(src="images/partners/1.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/2.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/3.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/4.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/5.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/6.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/7.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/8.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/9.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/10.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/11.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/12.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/13.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/15.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/14.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/16.png", alt="")
      .partners__item
        .partners__slide
          img(src="images/partners/17.png", alt="")
